<template>
	<div>
		<div id="citation-metadata">
			<h1>{{abstract.title}}</h1>
			<p>{{abstract.authorString}}</p>
			<p><b>{{abstract.journalInfo.journal.title}}</b>, {{abstract.firstPublicationDate}}, DOI: {{abstract.doi}}, PMID: {{abstract.pmid}}, PMCID: {{abstract.pmcid}}</p>
		</div>
		<content-section v-for="section in sections" :section="section" :key="section.id" v-if="!section.requireOpenAccess || abstract.isOpenAccess == 'Y'"></content-section>
	</div>
</template>
<script>
	import ContentSection from './ContentSection'

	export default {
		name: 'CitationContent',
		props: ['abstract'],
		data() {
			return {
				sections: [
					{id: 'abstract', title: 'Abstract', content: this.abstract.abstractText, collasible: false, visible: true, requireOpenAccess: false},
					{id: 'figures-and-tables', title: 'Figures and tables', content: 'Figures and tables here...', collasible: true, visible: true, requireOpenAccess: true},
					{id: 'free-full-text', title: 'Free full text', content: 'Full text here...', collasible: true, visible: true, requireOpenAccess: true},
					{id: 'data-and-files', title: 'Data and files', content: 'Data and files here...', collasible: true, visible: false, requireOpenAccess: false},
					{id: 'metrics-and-citations', title: 'Metrics and citations', content: 'Metrics and citations here...', collasible: true, visible: false, requireOpenAccess: false},
					{id: 'similar-articles', title: 'Similar articles', content: 'Similar articles here...', collasible: true, visible: false, requireOpenAccess: false},
					{id: 'further-reading', title: 'Further reading', content: '<b>Further reading here...</b>', collasible: true, visible: false, requireOpenAccess: false},
				]
			}
		},
	    components: {
	      ContentSection
	    },
		created() {
			if(abstract.pmcid) {
				const fullTextRequestUrl = 'https://www.ebi.ac.uk/europepmc/webservices/rest/' + this.abstract.pmid + '/fullTextXML';

			}
		}
	}
</script>
<style scoped>
</style>