<template>
	<div id="citation-menu">
		<p><a href="#abstract">Abstract</a></p>
		<div v-if="isOpenAccess == 'Y'">
			<p><a href="#figures-and-tables">Figures & tables</a></p>
			<p><a href="#free-full-text">Free full text</a></p>
		</div>
		<p><a href="#data-and-files">Data & files</a></p>
		<p><a href="#metrics-and-citations">Metrics & citations</a></p>
		<p><a href="#similar-articles">Similar articles</a></p>
		<p><a href="#further-reading">Further reading</a></p>
	</div>
</template>
<script>
	export default {
		name: 'CitationMenu',
		props: ['isOpenAccess']
	}
</script>
<style scoped>
	#citation-menu {
		margin-top: 9.7em;
	}
</style>