<template>
	<div :id="section.id" @click="hideContent">
		<h2 class="sect-title">
			{{section.title}}
			<i v-if="section.collasible" v-bind:class="[section.visible ? 'fa fa-caret-down' : 'fa fa-caret-right']"></i>
		</h2>
		<p v-if="!section.collasible || section.visible" v-html="section.content"></p>
	</div>
</template>

<script>
	export default {
		name: 'ContentSection',
		props: ['section'],
		methods: {
			hideContent() {
				if(this.section.collasible)
					this.section.visible = !this.section.visible;
			}
		}
	}
</script>

<style scoped>
	.sect-title {
		border-bottom: 2px solid black;
		cursor: pointer;
	}

	.sect-title i {
		float: right;
	}
</style>