<template>
  <div>
    <div v-if="pageStatus == 'finished'">
      <div class="col left-col">
        <citation-menu :isOpenAccess="abstract.isOpenAccess"></citation-menu>
      </div>
      <div class="col mid-col">
        <citation-content :abstract="abstract"></citation-content>
      </div>
      <div class="col right-col">
      </div>
    </div>
    <div v-else-if="pageStatus == 'error'">
      <h1>Important Message</h1>
      <p>We are sorry, we are unable to retrieve the citation details for this record.</p>
    </div>
    <!-- <div v-else></div> -->
  </div>
</template>

<script>
  import CitationMenu from './components/CitationMenu.vue'
  import CitationContent from './components/CitationContent.vue'

  export default {
    name: 'Citation',
    data() {
      return {
        abstract: null
      }
    },
    computed: {
      pageStatus() {
        let abstract = this.abstract;
        if(abstract == null)
          return 'loading';
        else if(abstract.length != 0)
          return 'finished';
        else
          return 'error';
      },
    },
    components: {
      CitationMenu, CitationContent
    },
    created() {
      const pageUrlSeg = window.location.href.split('/');
      const pageUrlSegLength = pageUrlSeg.length;
      const abstractId = pageUrlSeg[pageUrlSegLength - 1].split('?')[0].split('#')[0];
      const abstractSrc = pageUrlSeg[pageUrlSegLength - 2];
      const abstractRequestUrl = 'https://www.ebi.ac.uk/europepmc/webservices/rest/search?query=EXT_ID:' + abstractId + '%20SRC:' + abstractSrc + '&resulttype=core&format=json';
      axios.get(abstractRequestUrl).then((response) => {
        let result = response.data.resultList.result;
        if(result.length != 0)
          this.abstract = result[0];
        else
          this.abstract = '';
      }).catch(function(error) {
          this.abstract = '';
      });
    }
  }
</script>

<style scoped>
  .col {
    display: inline-block;
    vertical-align: top;
  }

  .col:not(last-child) {
    margin-right: 30px;
  }

  .left-col {
    max-width: 166px;
  }

  .mid-col {
    max-width: 558px;
  }

  .right-col {
    max-width: 264px;
  }
</style>